<?xml version="1.0" encoding="UTF-8"?>
<message_repeater>
  <repeater_max_number>123</repeater_max_number>
  <repeater_pair>
       <pair1_mac1>mac1</pair1_mac1>
	   <pair1_mac2>mac2</pair1_mac2>
  </repeater_pair>
  <repeater_pair>
       <pair1_mac1>mac4</pair1_mac1>
	   <pair1_mac2>mac3</pair1_mac2>
  </repeater_pair>
    <repeater_pair>
        <pair1_mac1>mac1</pair1_mac1>
        <pair1_mac2>mac3</pair1_mac2>
    </repeater_pair>
    <repeater_pair>
        <pair1_mac1>mac1</pair1_mac1>
        <pair1_mac2>mac4</pair1_mac2>
    </repeater_pair>
</message_repeater>